# print the data frame

In [36]:
import pandas as pd 
data = pd.read_csv("iris-1.csv")
print(data)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

# display top 5 rows

In [2]:
print(data.head())

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

# Statistical analysis

In [3]:
print(data.describe())

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

# displahy 10 random sample rows

In [7]:
print(data.sample(10))

     sepal.length  sepal.width  petal.length  petal.width     variety
101           5.8          2.7           5.1          1.9   Virginica
58            6.6          2.9           4.6          1.3  Versicolor
127           6.1          3.0           4.9          1.8   Virginica
43            5.0          3.5           1.6          0.6      Setosa
145           6.7          3.0           5.2          2.3   Virginica
61            5.9          3.0           4.2          1.5  Versicolor
91            6.1          3.0           4.6          1.4  Versicolor
49            5.0          3.3           1.4          0.2      Setosa
121           5.6          2.8           4.9          2.0   Virginica
52            6.9          3.1           4.9          1.5  Versicolor

# display num of columns and names of the coloumns

In [8]:
print(len(data.columns))
print(data.columns)

5
Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

# print shape of the dataset

In [9]:
print(data.shape)

(150, 5)

# fetch data from 5th row to 10th row

In [10]:
print(data.loc[5:10])

    sepal.length  sepal.width  petal.length  petal.width variety
5            5.4          3.9           1.7          0.4  Setosa
6            4.6          3.4           1.4          0.3  Setosa
7            5.0          3.4           1.5          0.2  Setosa
8            4.4          2.9           1.4          0.2  Setosa
9            4.9          3.1           1.5          0.1  Setosa
10           5.4          3.7           1.5          0.2  Setosa

# display data for two coloumns

In [11]:
print(data[['sepal.length','petal.width']])

     sepal.length  petal.width
0             5.1          0.2
1             4.9          0.2
2             4.7          0.2
3             4.6          0.2
4             5.0          0.2
..            ...          ...
145           6.7          2.3
146           6.3          1.9
147           6.5          2.0
148           6.2          2.3
149           5.9          1.8

[150 rows x 2 columns]

# counting the num of counts of each variety

In [13]:
print(data['variety'].value_counts())
print(data['petal.width'].value_counts())

variety
Setosa        50
Versicolor    50
Virginica     50
Name: count, dtype: int64
petal.width
0.2    29
1.3    13
1.5    12
1.8    12
1.4     8
2.3     8
0.4     7
1.0     7
0.3     7
2.1     6
2.0     6
1.2     5
0.1     5
1.9     5
1.6     4
2.5     3
2.2     3
1.1     3
2.4     3
1.7     2
0.6     1
0.5     1
Name: count, dtype: int64

# display only those rows whose variety is setosa

In [15]:
print(data[data['variety']=='Setosa'])

    sepal.length  sepal.width  petal.length  petal.width variety
0            5.1          3.5           1.4          0.2  Setosa
1            4.9          3.0           1.4          0.2  Setosa
2            4.7          3.2           1.3          0.2  Setosa
3            4.6          3.1           1.5          0.2  Setosa
4            5.0          3.6           1.4          0.2  Setosa
5            5.4          3.9           1.7          0.4  Setosa
6            4.6          3.4           1.4          0.3  Setosa
7            5.0          3.4           1.5          0.2  Setosa
8            4.4          2.9           1.4          0.2  Setosa
9            4.9          3.1           1.5          0.1  Setosa
10           5.4          3.7           1.5          0.2  Setosa
11           4.8          3.4           1.6          0.2  Setosa
12           4.8          3.0           1.4          0.1  Setosa
13           4.3          3.0           1.1          0.1  Setosa
14           5.8          4.0           1.2          0.2  Setosa
15           5.7          4.4           1.5          0.4  Setosa
16           5.4          3.9           1.3          0.4  Setosa
17           5.1          3.5           1.4          0.3  Setosa
18           5.7          3.8           1.7          0.3  Setosa
19           5.1          3.8           1.5          0.3  Setosa
20           5.4          3.4           1.7          0.2  Setosa
21           5.1          3.7           1.5          0.4  Setosa
22           4.6          3.6           1.0          0.2  Setosa
23           5.1          3.3           1.7          0.5  Setosa
24           4.8          3.4           1.9          0.2  Setosa
25           5.0          3.0           1.6          0.2  Setosa
26           5.0          3.4           1.6          0.4  Setosa
27           5.2          3.5           1.5          0.2  Setosa
28           5.2          3.4           1.4          0.2  Setosa
29           4.7          3.2           1.6          0.2  Setosa
30           4.8          3.1           1.6          0.2  Setosa
31           5.4          3.4           1.5          0.4  Setosa
32           5.2          4.1           1.5          0.1  Setosa
33           5.5          4.2           1.4          0.2  Setosa
34           4.9          3.1           1.5          0.2  Setosa
35           5.0          3.2           1.2          0.2  Setosa
36           5.5          3.5           1.3          0.2  Setosa
37           4.9          3.6           1.4          0.1  Setosa
38           4.4          3.0           1.3          0.2  Setosa
39           5.1          3.4           1.5          0.2  Setosa
40           5.0          3.5           1.3          0.3  Setosa
41           4.5          2.3           1.3          0.3  Setosa
42           4.4          3.2           1.3          0.2  Setosa
43           5.0          3.5           1.6          0.6  Setosa
44           5.1          3.8           1.9          0.4  Setosa
45           4.8          3.0           1.4          0.3  Setosa
46           5.1          3.8           1.6          0.2  Setosa
47           4.6          3.2           1.4          0.2  Setosa
48           5.3          3.7           1.5          0.2  Setosa
49           5.0          3.3           1.4          0.2  Setosa

# Calculate the mean, median ,mode of a particular column

In [16]:
print(data['petal.length'].mean())
print(data['petal.length'].median())
print(data['petal.length'].mode())

3.7580000000000005
4.35
0    1.4
1    1.5
Name: petal.length, dtype: float64

# Extract minimum and maximum value from a column

In [17]:
print(data['petal.length'].min())
print(data['petal.length'].max())

1.0
6.9

# Add a column 'total-value' which will display the sum of the integer values of each row

In [37]:
data['total_value'] = data[['sepal.length','sepal.width','petal.length','petal.width']].sum(axis=1)
print(data.head())
print(data.shape)

   sepal.length  sepal.width  petal.length  petal.width variety  total_value
0           5.1          3.5           1.4          0.2  Setosa         10.2
1           4.9          3.0           1.4          0.2  Setosa          9.5
2           4.7          3.2           1.3          0.2  Setosa          9.4
3           4.6          3.1           1.5          0.2  Setosa          9.4
4           5.0          3.6           1.4          0.2  Setosa         10.2
(150, 6)

# Rename the column 'total_value' to 'total'

In [38]:
data.rename(columns={'total_value':'total'},inplace=True)
print(data.head())

   sepal.length  sepal.width  petal.length  petal.width variety  total
0           5.1          3.5           1.4          0.2  Setosa   10.2
1           4.9          3.0           1.4          0.2  Setosa    9.5
2           4.7          3.2           1.3          0.2  Setosa    9.4
3           4.6          3.1           1.5          0.2  Setosa    9.4
4           5.0          3.6           1.4          0.2  Setosa   10.2

In [40]:
data.rename(columns={'total':'total_value'},inplace=True)
print(data.head())

   sepal.length  sepal.width  petal.length  petal.width variety  total_value
0           5.1          3.5           1.4          0.2  Setosa         10.2
1           4.9          3.0           1.4          0.2  Setosa          9.5
2           4.7          3.2           1.3          0.2  Setosa          9.4
3           4.6          3.1           1.5          0.2  Setosa          9.4
4           5.0          3.6           1.4          0.2  Setosa         10.2

# remove the column 'total_value'

In [41]:
data.drop(columns = 'total_value',inplace=True)
print(data.head())

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

# Delete the first row of the dataframe

In [42]:
print(data[1:])

     sepal.length  sepal.width  petal.length  petal.width    variety
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[149 rows x 5 columns]

# delete the last row of the dataframe

In [43]:
data.drop(index = data.index[-1],inplace = True)
print(data)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica

[149 rows x 5 columns]

# check if a value exists in the dataframe or not

In [44]:
if 2.4 in data.values:
    print("Yes")

Yes

# check if a value exists in a particular column or not

In [46]:
if 2.4 in data['petal.length']:
    print("Yes")
else:
    print('No')

No

# Write the dataframe to another csv file

In [47]:
data.to_csv('iris_new.csv')