Read  the  Iris  dataset (iris.csv) using pandas and data frame

In [1]:
import pandas as pd

In [ ]:
data = pd.read_csv("C:/Users/OORNEE MITRA/Downloads/iris-1.csv")
# data = pd.read_csv("C:\\Users\\OORNEE MITRA\\Downloads\\iris-1.csv")

1.  Print the data frame.

In [7]:
print(data)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

2.  Display top 5 rows.

In [8]:
print(data.head())

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

3.  Compute statistical analysis on the data frame.

In [9]:
print(data.describe())

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

4.  Display 10 random sample rows.

In [10]:
print(data.sample(10))

     sepal.length  sepal.width  petal.length  petal.width     variety
111           6.4          2.7           5.3          1.9   Virginica
31            5.4          3.4           1.5          0.4      Setosa
86            6.7          3.1           4.7          1.5  Versicolor
98            5.1          2.5           3.0          1.1  Versicolor
1             4.9          3.0           1.4          0.2      Setosa
11            4.8          3.4           1.6          0.2      Setosa
91            6.1          3.0           4.6          1.4  Versicolor
106           4.9          2.5           4.5          1.7   Virginica
41            4.5          2.3           1.3          0.3      Setosa
141           6.9          3.1           5.1          2.3   Virginica

5.  Display the number of columns and names of the columns.

In [11]:
print(data.columns)
print(len(data.columns))

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')
5

6.  Print the shape of the dataset

In [13]:
print(data.shape) # it will print the no of rows and columns of the data frame

(150, 5)

7.  Fetch data from 5th row to 10th row.

In [ ]:
print(data.iloc[4:11])    # iloc function prints from the source index to destination index-1

    sepal.length  sepal.width  petal.length  petal.width variety
4            5.0          3.6           1.4          0.2  Setosa
5            5.4          3.9           1.7          0.4  Setosa
6            4.6          3.4           1.4          0.3  Setosa
7            5.0          3.4           1.5          0.2  Setosa
8            4.4          2.9           1.4          0.2  Setosa
9            4.9          3.1           1.5          0.1  Setosa
10           5.4          3.7           1.5          0.2  Setosa

In [16]:
print(data.iloc[4:10])

   sepal.length  sepal.width  petal.length  petal.width variety
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
8           4.4          2.9           1.4          0.2  Setosa
9           4.9          3.1           1.5          0.1  Setosa

In [15]:
print(data.loc[4:10])

    sepal.length  sepal.width  petal.length  petal.width variety
4            5.0          3.6           1.4          0.2  Setosa
5            5.4          3.9           1.7          0.4  Setosa
6            4.6          3.4           1.4          0.3  Setosa
7            5.0          3.4           1.5          0.2  Setosa
8            4.4          2.9           1.4          0.2  Setosa
9            4.9          3.1           1.5          0.1  Setosa
10           5.4          3.7           1.5          0.2  Setosa

8.  Display data for two columns: petal. length and petal. width

In [17]:
print(data[['petal.length','petal.width']])

     petal.length  petal.width
0             1.4          0.2
1             1.4          0.2
2             1.3          0.2
3             1.5          0.2
4             1.4          0.2
..            ...          ...
145           5.2          2.3
146           5.0          1.9
147           5.2          2.0
148           5.4          2.3
149           5.1          1.8

[150 rows x 2 columns]

9.  Counting the number of counts of each variety.

In [ ]:
print(data['variety'].value_counts())

variety
Setosa        50
Versicolor    50
Virginica     50
Name: count, dtype: int64

10.  Display only those rows whose variety is Setosa.

In [27]:
print(data[data['variety'] == 'Setosa'])

    sepal.length  sepal.width  petal.length  petal.width variety
0            5.1          3.5           1.4          0.2  Setosa
1            4.9          3.0           1.4          0.2  Setosa
2            4.7          3.2           1.3          0.2  Setosa
3            4.6          3.1           1.5          0.2  Setosa
4            5.0          3.6           1.4          0.2  Setosa
5            5.4          3.9           1.7          0.4  Setosa
6            4.6          3.4           1.4          0.3  Setosa
7            5.0          3.4           1.5          0.2  Setosa
8            4.4          2.9           1.4          0.2  Setosa
9            4.9          3.1           1.5          0.1  Setosa
10           5.4          3.7           1.5          0.2  Setosa
11           4.8          3.4           1.6          0.2  Setosa
12           4.8          3.0           1.4          0.1  Setosa
13           4.3          3.0           1.1          0.1  Setosa
14           5.8          4.0           1.2          0.2  Setosa
15           5.7          4.4           1.5          0.4  Setosa
16           5.4          3.9           1.3          0.4  Setosa
17           5.1          3.5           1.4          0.3  Setosa
18           5.7          3.8           1.7          0.3  Setosa
19           5.1          3.8           1.5          0.3  Setosa
20           5.4          3.4           1.7          0.2  Setosa
21           5.1          3.7           1.5          0.4  Setosa
22           4.6          3.6           1.0          0.2  Setosa
23           5.1          3.3           1.7          0.5  Setosa
24           4.8          3.4           1.9          0.2  Setosa
25           5.0          3.0           1.6          0.2  Setosa
26           5.0          3.4           1.6          0.4  Setosa
27           5.2          3.5           1.5          0.2  Setosa
28           5.2          3.4           1.4          0.2  Setosa
29           4.7          3.2           1.6          0.2  Setosa
30           4.8          3.1           1.6          0.2  Setosa
31           5.4          3.4           1.5          0.4  Setosa
32           5.2          4.1           1.5          0.1  Setosa
33           5.5          4.2           1.4          0.2  Setosa
34           4.9          3.1           1.5          0.2  Setosa
35           5.0          3.2           1.2          0.2  Setosa
36           5.5          3.5           1.3          0.2  Setosa
37           4.9          3.6           1.4          0.1  Setosa
38           4.4          3.0           1.3          0.2  Setosa
39           5.1          3.4           1.5          0.2  Setosa
40           5.0          3.5           1.3          0.3  Setosa
41           4.5          2.3           1.3          0.3  Setosa
42           4.4          3.2           1.3          0.2  Setosa
43           5.0          3.5           1.6          0.6  Setosa
44           5.1          3.8           1.9          0.4  Setosa
45           4.8          3.0           1.4          0.3  Setosa
46           5.1          3.8           1.6          0.2  Setosa
47           4.6          3.2           1.4          0.2  Setosa
48           5.3          3.7           1.5          0.2  Setosa
49           5.0          3.3           1.4          0.2  Setosa

11.  Calculate the sum, mean and mode of a particular column (say petal. length)

In [31]:
print("Sum =",data['petal.length'].sum())
print("Mean =",data['petal.length'].mean())
print("Mode =",data['petal.length'].mode())

Sum = 563.7
Mean = 3.7580000000000005
Mode = 0    1.4
1    1.5
Name: petal.length, dtype: float64

12.  Extract minimum and maximum value from a column (say petal. length).

In [32]:
print("Min =",data['petal.length'].min())
print("Max =",data['petal.length'].max())

Min = 1.0
Max = 6.9

13.  Add a column (say total_value) to the dataset which will display the sum of the integer values 
of each row

In [ ]:
data['total_value'] = data[['sepal.length','sepal.width','petal.length','petal.width']].sum(axis=1)
# axis = 1 is used for rowwise additionn 
# axis = 0 is used for column wise addition
print(data.head())

   sepal.length  sepal.width  petal.length  petal.width variety  total_values  \
0           5.1          3.5           1.4          0.2  Setosa          10.2
1           4.9          3.0           1.4          0.2  Setosa           9.5
2           4.7          3.2           1.3          0.2  Setosa           9.4
3           4.6          3.1           1.5          0.2  Setosa           9.4
4           5.0          3.6           1.4          0.2  Setosa          10.2

   total_value
0         10.2
1          9.5
2          9.4
3          9.4
4         10.2

14.  Rename the column name from variety to variety1 and reverse

In [44]:
data.rename(columns={'variety':'variety1'},inplace = True)
print(data.head())

   sepal.length  sepal.width  petal.length  petal.width variety1  \
0           5.1          3.5           1.4          0.2   Setosa
1           4.9          3.0           1.4          0.2   Setosa
2           4.7          3.2           1.3          0.2   Setosa
3           4.6          3.1           1.5          0.2   Setosa
4           5.0          3.6           1.4          0.2   Setosa

   total_values  total_value
0          10.2         10.2
1           9.5          9.5
2           9.4          9.4
3           9.4          9.4
4          10.2         10.2

In [46]:
data.rename(columns = {'variety1':'variety'},inplace = True)
print(data)

     sepal.length  sepal.width  petal.length  petal.width    variety  \
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

     total_values  total_value
0            10.2         10.2
1             9.5          9.5
2             9.4          9.4
3             9.4          9.4
4            10.2         10.2
..            ...          ...
145          17.2         17.2
146          15.7         15.7
147          16.7         16.7
148          17.3         17.3
149          15.8         15.8

[150 rows x 7 columns]

15.  Remove the column 'total_value'.

In [61]:
data.drop(columns = 'total_values',axis = 1,inplace = True)
print(data)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

16.  Delete the first row of the data frame.

In [62]:
print(data[1:])

     sepal.length  sepal.width  petal.length  petal.width    variety
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[149 rows x 5 columns]

In [63]:
data.drop(index = data.index[0],inplace = True)
print(data)

     sepal.length  sepal.width  petal.length  petal.width    variety
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[149 rows x 5 columns]

17.  Delete the last row of the data frame.

In [64]:
data.drop(index = data.index[-1],inplace = True)
print(data)

     sepal.length  sepal.width  petal.length  petal.width    variety
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
..            ...          ...           ...          ...        ...
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica

[148 rows x 5 columns]

18.  Check if a value exists in data frame or not

In [70]:
if 3 in data.values:
    print(True)

True

19.  Check if a value exists in a particular column or not.

In [69]:
if 3 in data['sepal.width'].values:
    print(True)
else:
    print(False)

True

20.  Write the data frame to another csv file.

In [71]:
data.to_csv("iris_modified.csv")